/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
        };

        quote {
            bindings = <&kp APOSTROPHE>;
            key-positions = <21 22>;
        };

        meh {
            bindings = <&meh>;
            key-positions = <37 40>;
        };

        capsword {
            bindings = <&caps_word>;
            key-positions = <13 22>;
        };
    };

    macros {
        meh: meh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <>;
            label = "MEH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp SPACE  &kp Q        &kp W        &kp E       &kp R        &kp T      &kp Y        &kp U            &kp I       &kp O        &kp P                &kp BSPC
&kp LCTRL  &mt LSHFT A  &mt LCTRL S  &mt LALT D  &mt LGUI F   &kp G      &kp H        &mt LGUI J       &mt LALT K  &mt LCTRL L  &mt LSHFT SEMICOLON  &kp SQT
&kp LSHFT  &kp Z        &kp X        &kp C       &kp V        &kp B      &kp N        &kp M            &kp COMMA   &kp DOT      &kp FSLH             &kp ESC
                                     &kp ESC     &lt 3 SPACE  &kp TAB    &lt 2 ENTER  &lt 1 BACKSPACE  &kp DEL
            >;
        };

        num {
            bindings = <
&trans  &kp LEFT_BRACKET  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp RIGHT_BRACKET    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp COLON         &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp EQUAL            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp GRAVE         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BACKSLASH        &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans        &kp NUMBER_0  &kp MINUS            &trans  &trans  &trans
            >;
        };

        sym {
            bindings = <
&trans  &kp LEFT_BRACE  &kp AMPERSAND    &kp ASTERISK          &kp LEFT_PARENTHESIS   &kp RIGHT_BRACE    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &kp DOLLAR       &kp PERCENT           &kp CARET              &kp PLUS           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp TILDE       &kp EXCLAMATION  &kp AT_SIGN           &kp HASH               &kp PIPE           &trans  &trans  &trans  &trans  &trans  &trans
                                         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE     &trans  &trans  &trans
            >;
        };

        nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans  &trans     &trans
                        &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };
    };
};
